
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>News</title>
    <style>
        .News{
            width:1200px;
            height:auto;
            margin:30px 300px;
        }
        .News_title {
            width: 1200px;
            height:45px;
            font-size:34px;
            font-weight:700;
        }
        .News_content{
            width:1300px;
            height:auto;
        }
            .News_content p {
                width: 1200px;
                height: auto;
                margin:20px;
                font-size:20px;
                line-height:30px;  
                text-indent:2em;
            }
    </style>
</head>
<body>
    <div class="News"> 
        <div class="News_title">
            <center>不能参加北京的不是</center>
        </div>
        <div class="News_content">
            <p>
                不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是不能参加北京的不是
            </p>
        </div>
    </div>
</body>
</html>
