@model 趣车网.Models.UserInfo

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Title</title>
    <style>
        .sc_item {
            /*display:block;*/
            width: 1300px;
            height: 630px;
            background: rgba(0,0,0,0.1);
        }

        .sc_car {
            width: 300px;
            height: 270px;
            float: left;
            margin-top: 15px;
            margin-left: 20px;
            position: relative;
            border: 1px solid gray;
            display: block;
        }

            .sc_car a img {
                width: 300px;
                height: 200px;
                float: left;
                margin: 0px;
            }

        .sc_price {
            color: red;
            font-weight: 700;
        }

        .sc_name {
            font-weight: 800;
        }
    </style>
</head>
<body>
    <div class="sc_item">
        <div class="sc_car">
            <a href="" target="_blank">
                <img src="~/image/timg (1).jpg" />
                <span class="sc_price">￥888W</span><br />
                <span class="sc_name">法拉利</span><br />
                <span class="sc_word">cbvgwibk</span>
            </a>
        </div>
        <div class="sc_car">
            <a href="" target="_blank">
                <img src="~/image/timg (1).jpg" />
                <span class="sc_price">￥888W</span><br />
                <span class="sc_name">法拉利</span><br />
                <span class="sc_word">cbvgwibk</span>
            </a>
        </div>
        <div class="sc_car">
            <a href="" target="_blank">
                <img src="~/image/timg (1).jpg" />
                <span class="sc_price">￥888W</span><br />
                <span class="sc_name">法拉利</span><br />
                <span class="sc_word">cbvgwibk</span>
            </a>
        </div>
        <div class="sc_car">
            <a href="" target="_blank">
                <img src="~/image/timg (1).jpg" />
                <span class="sc_price">￥888W</span><br />
                <span class="sc_name">法拉利</span><br />
                <span class="sc_word">cbvgwibk</span>
            </a>
        </div>
        <div class="sc_car">
            <a href="" target="_blank">
                <img src="~/image/timg (1).jpg" />
                <span class="sc_price">￥888W</span><br />
                <span class="sc_name">法拉利</span><br />
                <span class="sc_word">cbvgwibk</span>
            </a>
        </div>
    </div>
</body>
</html>
