@model 趣车网.Models.UserInfo

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Zhoubian</title>
    <style>
        .sc_main {
            width: 1300px;
            height: auto;
        }

        .sc_header {
            width: 1300px;
            height: 45px;
            margin: 5px 0px;
        }

        .sc_dl {
            width: 1300px;
            height: 41px;
            line-height: 41px;
            background: #f5f5f5;
            border: 1px solid #e9e9e9;
            overflow: hidden;
            padding: 0 0 0 30px;
        }

        .sc_dt {
            font-weight: 500;
            color: #747474;
            margin: 0px;
            font-size: 14px;
            float: left;
        }

        .sc_dd {
            font-weight: 500;
            float: left;
        }

            .sc_dd a {
                padding: 0 20px 0 20px;
                float: left;
                font-size: 18px;
            }

        .sc_item {
            /*display:block;*/
            width: 1300px;
            height: 630px;
            background: rgba(0,0,0,0.1);
        }

        .sc_car {
            width: 300px;
            height: 270px;
            float: left;
            margin-top: 15px;
            margin-left: 20px;
            position: relative;
            border: 1px solid gray;
            display: block;
        }

            .sc_car a img {
                width: 300px;
                height: 200px;
                float: left;
                margin: 0px;
            }

        .sc_price {
            color: red;
            font-weight: 700;
        }

        .sc_name {
            font-weight: 800;
        }
    </style>
</head>
<body>
    <div class="sc_main">
        <div class="sc_header">
            <dl class="sc_dl">
                <dt class="sc_dt">您是不是想找:</dt>
                <dd class="sc_dd">
                    <a href="" target="_blank">挂  件</a>|
                </dd>
                <dd class="sc_dd">
                    <a href=" target=" _blank"">摆  件</a>|
                </dd>
                <dd class="sc_dd">
                    <a href="" target="_blank">香  水</a>|
                </dd>
                <dd class="sc_dd">
                    <a href="" target="_blank">坐  垫</a>|
                </dd>
                <dd class="sc_dd">
                    <a href="" target="_blank">烟 灰 缸</a>|
                </dd>
                <dd class="sc_dd">
                    <a href="" target="_blank">靠  枕</a>|
                </dd>
                <dd class="sc_dd">
                    <a href="" target="_blank">手 机 架</a>|
                </dd>
            </dl>
        </div>
        <div class="sc_item">
            <div class="sc_car">
                <a href="" target="_blank">
                    <img src="~/image/timg (1).jpg" />
                    <span class="sc_price">￥888W</span><br />
                    <span class="sc_name">法拉利</span><br />
                    <span class="sc_word">cbvgwibk</span>
                </a>
            </div>
            <div class="sc_car">
                <a href="" target="_blank">
                    <img src="~/image/timg (1).jpg" />
                    <span class="sc_price">￥888W</span><br />
                    <span class="sc_name">法拉利</span><br />
                    <span class="sc_word">cbvgwibk</span>
                </a>
            </div>
            <div class="sc_car">
                <a href="" target="_blank">
                    <img src="~/image/timg (1).jpg" />
                    <span class="sc_price">￥888W</span><br />
                    <span class="sc_name">法拉利</span><br />
                    <span class="sc_word">cbvgwibk</span>
                </a>
            </div>
            <div class="sc_car">
                <a href="" target="_blank">
                    <img src="~/image/timg (1).jpg" />
                    <span class="sc_price">￥888W</span><br />
                    <span class="sc_name">法拉利</span><br />
                    <span class="sc_word">cbvgwibk</span>
                </a>
            </div>
            <div class="sc_car">
                <a href="" target="_blank">
                    <img src="~/image/timg (1).jpg" />
                    <span class="sc_price">￥888W</span><br />
                    <span class="sc_name">法拉利</span><br />
                    <span class="sc_word">cbvgwibk</span>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
